# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Build
.next/
out/
build/

# Coverage
coverage/